doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="../css/main.css")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    body 
        header.header-top
            img(src="..//image/img/banner.jpg", alt="")
            .container 
                .logo
                    img(src='..//image/img/Group 46.png' alt='ZZ Fashion')
                .rusuz 
                    li RU 
                    li /
                    li UZ
                .search
                    .search-container
                        input(type="text", placeholder="Search", id="searchInput")
                        button(type="button", onclick="performSearch()") Найти
                    .suggestions
                        ul#suggestionsList
                        
                .karzinka-info
                    img(src="..//image/img/favorite - default.png", alt="porofil")
                    span 
                        span Избранное
                        a(href='#') 2 товара
                .karzinka-info
                    img(src="..//image/img/Cart - default.png", alt="porofil")
                    span 
                        span Корзина
                        a(href='#') 12 товаров
                .user-info
                    img(src="..//image/img/user - default (2).png", alt="porofil")
                    span 
                        span Андрей Иванов
                        a(href='#') Мой профиль
        .container 
            .header-bottom
                nav
                    ul 
                        img(src="..//image/img/menu.png" alt="")
                        li: a(href='#') Каталог товаров
                    ul
                        li: a(href='#') Продукты
                        li: a(href='#') Одежда и обувь
                        li: a(href='#') Электроника
                        li: a(href='#') Для дома
                        li: a(href='#') Спорт
                        li: a(href='#') Дети
                        li: a(href='#') Книги
                        li: a(href='#') Бренды
                        li: a(href='#') Зоо
                        li: a(href='#') Компьютеры
                        li: a(href='#') Здоровье
                        li: a(href='#') Ремонт
        main
            .carousel 
                .container 
                    .home-demo
                        .owl-carousel.owl-theme
                            .item
                                img(src="..//image/img/background (1).png" alt="")
                            .item
                                img(src="..//image/img/background (1).png" alt="")
                            .item
                                h2 Responsive
                            .item
                                img(src="..//image/img/background (1).png" alt="")
                            .item
                                h2 Fast
                    .categories
                        .category
                            span
                                img.img(src='..//image/img/image 7 (1).png' alt='Напитки')
                                img(src='..//image/img/Vector (2).png' alt='Напитки')
                            span Смартфоны
                        .category
                            span
                                img.img(src='..//image/img/image 7 (1).png' alt='Напитки')
                                img(src='..//image/img/Vector (2).png' alt='Напитки')
                            span Телевизоры
                        .category
                            span
                                img.img(src='..//image/img/image 7 (1).png' alt='Напитки')
                                img(src='..//image/img/Vector (2).png' alt='Напитки')
                            span Игровые приставки
                        .category
                            span
                                img.img(src='..//image/img/image 7 (1).png' alt='Напитки')
                                img(src='..//image/img/Vector (2).png' alt='Напитки')
                            span Ноутбуки
                        .category
                            span
                                img.img(src='..//image/img/image 7 (1).png' alt='Напитки')
                                img(src='..//image/img/Vector (2).png' alt='Напитки')
                            span Велосипеды
                        .category
                            span
                                img.img(src='..//image/img/image 7 (1).png' alt='Напитки')
                                img(src='..//image/img/Vector (2).png' alt='Напитки')
                            span Надувные бассейны
                        .category
                            span
                                img.img(src='..//image/img/image 7 (1).png' alt='Напитки')
                                img(src='..//image/img/Vector (2).png' alt='Напитки')
                            span Верхняя одежда
                        .category
                            span
                                img.img(src='..//image/img/image 7 (1).png' alt='Напитки')
                                img(src='..//image/img/Vector (2).png' alt='Напитки')
                            span Напитки
        main 
            
        
        main 
            .container 
                .main_product 
                    img(src="..//image/img/ad.png", alt="") 
                    img(src="..//image/img/ad.png", alt="") 
        main 
            .container 
                .product 
                    .product-item
                        img(src="..//image/img/Rectangle 19.png" alt="Газон")
                        img.product-item_img(src="..//image/img/heart.png", alt="")
                        .price 320 000 сом
                        .description Газон, м²
                        .rating
                            span ★★★★★
                    .product-item
                        img(src="..//image/img/Rectangle 19.png" alt="Газон")
                        img.product-item_img(src="..//image/img/heart.png", alt="")
                        .price 320 000 сом
                        .description Газон, м²
                        .rating
                            span ★★★★★
                    .product-item
                        img(src="..//image/img/Rectangle 19.png" alt="Газон")
                        img.product-item_img(src="..//image/img/heart.png", alt="")
                        .price 320 000 сом
                        .description Газон, м²
                        .rating
                            span ★★★★★
                    .product-item
                        img(src="..//image/img/Rectangle 19.png" alt="Газон")
                        img.product-item_img(src="..//image/img/heart.png", alt="")
                        .price 320 000 сом
                        .description Газон, м²
                        .rating
                            span ★★★★★
                    .product-item
                        img(src="..//image/img/Rectangle 19.png" alt="Газон")
                        img.product-item_img(src="..//image/img/heart.png", alt="")
                        .price 320 000 сом
                        .description Газон, м²
                        .rating
                            span ★★★★★
                    .product-item
                        img(src="..//image/img/Rectangle 19.png" alt="Газон")
                        img.product-item_img(src="..//image/img/heart.png", alt="")
                        .price 320 000 сом
                        .description Газон, м²
                        .rating
                            span ★★★★★
                    .product-item
                        img(src="..//image/img/Rectangle 19.png" alt="Газон")
                        img.product-item_img(src="..//image/img/heart.png", alt="")
                        .price 320 000 сом
                        .description Газон, м²
                        .rating
                            span ★★★★★
                    .product-item
                        img(src="..//image/img/Rectangle 19.png" alt="Газон")
                        img.product-item_img(src="..//image/img/heart.png", alt="")
                        .price 320 000 сом
                        .description Газон, м²
                        .rating
                            span ★★★★★
                    .product-item
                        img(src="..//image/img/Rectangle 19.png" alt="Газон")
                        img.product-item_img(src="..//image/img/heart.png", alt="")
                        .price 320 000 сом
                        .description Газон, м²
                        .rating
                            span ★★★★★
                    .product-item
                        img(src="..//image/img/Rectangle 19.png" alt="Газон")
                        img.product-item_img(src="..//image/img/heart.png", alt="")
                        .price 320 000 сом
                        .description Газон, м²
                        .rating
                            span ★★★★★
                    .product-item
                        img(src="..//image/img/Rectangle 19.png" alt="Газон")
                        img.product-item_img(src="..//image/img/heart.png", alt="")
                        .price 320 000 сом
                        .description Газон, м²
                        .rating
                            span ★★★★★
                    .product-item
                        img(src="..//image/img/Rectangle 19.png" alt="Газон")
                        img.product-item_img(src="..//image/img/heart.png", alt="")
                        .price 320 000 сом
                        .description Газон, м²
                        .rating
                            span ★★★★★
        main 
            .container 
                .product-img 
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
                    .product_img 
                        img(src="..//image/img/image 8 (1).png", alt="")
          


        footer.footer
            .footer-container
                .footer-column
                    h3 Компания
                    ul
                        li О нас
                        li Реквизиты
                        li Контакты
                        li Новости
                        li Вакансии
                .footer-column
                    h3 Юридическим лицам
                    ul
                        li Оформление заказа
                        li Публичная оферта
                        li Подключение магазина
                        li Партнерство
                        li Реклама
                .footer-column
                    h3 Помощь
                    ul
                        li Доставка
                        li Оплата
                        li Как заказать
                        li Безопасность
                        li Обмен и возврат
                .footer-column
                    h3 Подпишитесь на наши соц. сети
                    p Получайте самые свежие новости о нас
                .social-icons
                    a(href="#") 
                    img(src="path-to-facebook-icon.png" alt="Facebook")
                    a(href="#") 
                    img(src="path-to-instagram-icon.png" alt="Instagram")
                    a(href="#") 
                    img(src="path-to-telegram-icon.png" alt="Telegram")
                .app-download
                    p Ilovani yuklab olish
                    a(href="#")
                    img(src="path-to-appstore-icon.png" alt="AppStore")
                    a(href="#")
                    img(src="path-to-googleplay-icon.png" alt="Google Play")
            .footer-bottom
                p © «Zaytuna» 2020
                nav
                ul
                    li Продавайте с нами
                    li Пользовательское соглашение
                    li Политика конфиденциальности












            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
            script(src="../js/script.js") 