doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Оформление заказа - Zaytun
    link(rel="stylesheet", href="../css/main.css")
  body
     .container
        .karzinka
            .section.contact-info
                h2 Контактные данные
                .info
                p.name Игорь Николаев
                p.phone +998 90 909 90 09
                hr
                p Добавьте новое контактное лицо, если заказ будет получать другой человек
            .section.delivery
                h2 Доставка
                .info
                p Дом
                p г. Ташкент, Мирободский р-н, ул. Тараса Шевченко 42
                hr
                .info
                p Работа
                p г. Ташкент, Яккасарайский р-н, ул. Шота Руставели 14
                p.show-all Показать все
            .section.payment
                h2 Оплата
                .info
                p Наличными
                p При получении, курьеру
                hr
                .info.disabled
                p Онлайн оплата
                p Payme, Click, Apelsin
                hr
                .info.disabled
                p Пластиковой картой
                p При получении, курьеру
    


        script(src="../js/script.js")
